@using DrinkWholeSale.Web.Models;

@model ShoppingCartViewModel

<div class="contentHead">
    Purchase successfully recorded!
</div>

<div class="content">
    The total amount of the purchase(gross price): <strong>@Model.TotalPrice </strong> HUF.
</div>
